<div style="float:left;padding:5px"><img src="http://openweathermap.org/img/wn/%[#OBJ#].image%@2x.png"></div>
<ul class="list-unstyled"  style="list-style:outside none none;padding-left:0;font-size:14px;">
    <li><span class="label label-warning">%[#OBJ#].temperature%°C </span>&nbsp;<i>%[#OBJ#].weather_type%</i></li>
    <li><#LANG_WIND#>: %[#OBJ#].wind_direction_text%&nbsp;%[#OBJ#].wind_speed% <#LANG_M_S#></li>
    <li><#LANG_OW_WEATHER_OVERCAST#>: %[#OBJ#].clouds%%</li>
    <li><#LANG_PRESSURE#>: %[#OBJ#].pressure_mmhg% <#LANG_MMHG#></li>
    <li><#LANG_HUMIDITY#>:%[#OBJ#].humidity%%</li>
    <li><#LANG_OW_SUNINFO_DAY_SUNRISE_SUNSET#>: %[#OBJ#].sunrise%/ %[#OBJ#].sunset%</li>
    <li><#LANG_OW_SUNINFO_DAY_LENGTH#>: %[#OBJ#].day_length%</li>
</ul>
